*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    color:#555;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

.formulario{
    background: rgb(253, 253, 253);
    box-shadow: #55555533 0px 10px 10px;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    max-width: 900px;
}

.formulario h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}

.inputform {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 12px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: white;
    font-size: 16px;
    height: 2px;
}

.inputform::placeholder{
    font-weight: 600;
    color: #cfcfcf;
}

.inputform:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.5s;
}

.inputform:hover::placeholder{
    font-weight: 600;
    color: #7e7e7e;
    transition: all 0.5s;
}


.formulario button{
    border-radius: 12px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    width: 220px;
    margin: 20px auto 0;
    border: 3px solid rgb(69, 211, 13);
    background: none;
    color: rgb(69, 211, 13);
    font-weight: bold;

}

.formulario button:hover{
    background: rgb(69, 211, 13);
    transition: all 0.5s;
    color: white;
}

label {
    font-weight: bold;
    margin-top: 20px;
    color: #868686;
}